<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>>{% block title %}Bloggart{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen"
	  href="/static/{{config.theme}}/css/screen.css" />
    <link rel="alternate" type="application/atom+xml" href="/feeds/atom.xml" />
    {% block head %}{% endblock %}
  </head>

  <body>
    <form id="quick-search" action="/search" method="get">
      <p>
	<input type="hidden" name="cref"
	       value="http://{{config.host}}/cse.xml" />
	<input type="hidden" name="cof" value="FORID:11" />
	<input type="hidden" name="ie" value="UTF-8" />
	<input class="tbox" type="text" name="q" size="31" />
	<input class="btn" type="button" name="sa" value="Search" />
      </p>
    </form>
    <script type="text/javascript"
	    src="http://www.google.com/coop/cse/brand?form=quick-search&lang=en">
    </script>

    <h1>{{config.blog_name}}</h1>
    <p>{{config.slogan}}</p>
    <hr />

    <ul><li><a href="/">Home</a></li>{% block menu %}{% endblock %}</ul>

    {% block body %}{% endblock %}

  </body>

</html>
