{% extends "admin/base.html" %}
{% block title %}All Posts{% endblock %}
{% block body %}
  <h2>All Posts</h2>
  {% ifnotequal last_post -1 %}
    <p>Posts {{offset|add:1}} to {{last_post|add:1}}</p>
    <table>
      <thead>
	<tr><th>Title</th><th>Published</th><th>Actions</th></tr>
      </thead>
      {% for post in posts %}
        <tr>
          <td><a href="{{config.url_prefix}}/admin/post/{{post.key.id}}">{{post.title|escape}}</a></td>
          <td>{% if post.path %}{{post.published|date:"Y-m-d"}}{% else %}Draft{% endif %}</td>
	  <td>
	    {% if post.path %}
	      <a href="{{config.url_prefix}}{{post.path}}">View</a>
	      |
	    {% endif %}
	    <a href="{{config.url_prefix}}/admin/post/{{post.key.id}}">Edit</a>
	  </td>
	</tr>
      {% endfor %}
    </table>
  {% else %}
    <p>
      No posts yet.<br />
      <a href="{{config.url_prefix}}/admin/newpost">Write your first post.</a>
    </p>
  {% endifnotequal %}
  {% ifnotequal offset 0 %}
    <a href="?start={{prev_offset}}&count={{count}}">&lt;- Previous</a>
  {% endifnotequal %}
  {% if posts|length_is:count %}
    <a href="?start={{next_offset}}&count={{count}}">Next -></a>
  {% endif %}

  <h2>Admin Actions</h2>
  <form method="post" action="{{config.url_prefix}}/admin/regenerate">
    <input type="submit" value="Regenerate all posts" />
  </form>
{% endblock %}
