<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>{% block title %}Bloggart{% endblock %}</title>
  {% block style %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{config.url_prefix}}/static/{{config.theme}}/css/screen.css" />
  {% endblock %}
  {% if config.highlighting_style %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{config.url_prefix}}/static/{{config.theme}}/css/pygments_{{config.highlighting_style}}.css" />
  {% endif %}
  <link rel="alternate" type="application/atom+xml" 
	href="{% if config.feed_proxy %}
	        {{ config.feed_proxy }}
	      {% else %}
	        {{config.url_prefix}}/feeds/atom.xml
	      {% endif %}" />
  <link rel="SHORTCUT ICON" href="{{config.url_prefix}}/static/{{config.theme}}/favicon.ico"/>
  {% if config.rel_me %}
  <link rel="me" href="{{config.rel_me}}" />
  {% endif %}

  {% if config.google_friends_id %}
  <!-- Include the Google Friend Connect javascript library. -->
  <script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>
  {% endif %}

  {% block head %}{% endblock %}
</head>
<body>
	<div id="header-wrap"><div id="header" class="container_16">						
		<h1 id="logo-text"><a href="{{config.url_prefix}}/" title="">{{config.blog_name}}</a></h1>		
		<p id="intro">{{config.slogan}}</p>
		<div  id="nav">
			<ul>
				<li{% ifequal generator_class "IndexContentGenerator" %} id="current"{% endifequal %}><a href="{{config.url_prefix}}/">Home</a></li>
        {% block menu %}{% endblock %}
			</ul>
		</div>		
		<div id="header-image"></div> 
    <form id="quick-search" action="{{config.url_prefix}}/search" method="get">
      <p>
        <label for="q">Search:</label>
        <input type="hidden" name="cref" value="http://{{config.host}}{{config.url_prefix}}/cse.xml" />
        <input type="hidden" name="cof" value="FORID:11" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input class="tbox" type="text" name="q" size="31" />
        <input class="btn" type="image" name="sa" value="Search" src="{{config.url_prefix}}/static/{{config.theme}}/images/search.gif" alt="Search" />
      </p>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=quick-search&lang=en"></script>
	</div></div>
	<div id="content-outer"><div id="content-wrapper" class="container_16">
		<div id="main" class="grid_12">
      {% block body %}{% endblock %}
		</div>
		<div id="left-columns" class="grid_4">
      {% for sidebar in config.sidebars %}
        <div class="sidemenu">
          <h3>{{sidebar.0}}</h3>
          <ul>
            {% for entry in sidebar.1 %}
              <li>{{entry}}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}

     {% if config.google_friends_id and config.google_friends_members %}
        <div class="sidemenu">
          <h3>Members</h3>
          <!-- Define the div tag where the gadget will be inserted. -->
          <div id="div-1279810020886984279" style=""></div>
          <!-- Render the gadget into a div. -->
          <script type="text/javascript">
            var skin = {};
            skin['BORDER_COLOR'] = '#cccccc';
            skin['ENDCAP_BG_COLOR'] = '#fff';
            skin['ENDCAP_TEXT_COLOR'] = '#444';
            skin['ENDCAP_LINK_COLOR'] = '#0000cc';
            skin['ALTERNATE_BG_COLOR'] = '#ffffff';
            skin['CONTENT_BG_COLOR'] = '#ffffff';
            skin['CONTENT_LINK_COLOR'] = '#000';
            skin['CONTENT_TEXT_COLOR'] = '#666';
            skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
            skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
            skin['CONTENT_HEADLINE_COLOR'] = '#666';
            skin['NUMBER_ROWS'] = '4';
            google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
            google.friendconnect.container.renderMembersGadget(
            { id: 'div-1279810020886984279',
            site: '{{ config.google_friends_id }}'
            }, skin);
          </script>
        </div>
      {% endif %}




		</div>		
	</div></div>
	<div id="footer-wrapper" class="container_16">
		<div id="footer-bottom">
			<p class="bottom-left">			
			&nbsp; &copy; {{config.author_name}} &nbsp; &nbsp;
			Design by : <a href="http://www.styleshout.com/">styleshout</a>												
			</p>	
			<p class="bottom-right" >
				<a href="{{config.url_prefix}}/">Home</a> |
        <a href="{% if config.feed_proxy %}
	        {{ config.feed_proxy }}
	      {% else %}
	        {{config.url_prefix}}/feeds/atom.xml
	      {% endif %}">Atom</a> |
				<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
		   	<a href="http://validator.w3.org/check/referer">XHTML</a>
			</p>
		</div>	
	</div>
{% if config.analytics_id and not devel and not is_admin %}
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("{{config.analytics_id}}");
  pageTracker._trackPageview();
  } catch(err) {}</script>
{% endif %}
</body>
</html>
