{% extends "base.html" %}
{% block title %}{{post.title|escape}} - {{config.blog_name}}{% endblock %}
{% block body %}
  <h2>{{post.title|escape}}</h2>
    <p class="post-info">
      Posted by {{config.author_name}}
      {% if post.tags %}
        | Filed under
        {% for tag in post.tags %}
          <a href="/tag/{{tag|escape}}">{{tag|escape}}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      {% endif %}
    </p>
  {{post.body|linebreaks}}
  <p class="postmeta">
    <span class="date">{{post.published|date:"d F, Y"}}</span>
  </p>
{% endblock %}
