{% extends "base.html" %}
{% block title %}{{post.title|escape}} - {{config.blog_name}}{% endblock %}
{% block body %}
  <h2>{{post.title|escape}}</h2>
    <p class="post-info">
      Posted by {{config.author_name}}
      {% if post.tags %}
        | Filed under
        {% for tag in post.tag_pairs %}
          <a href="{{config.url_prefix}}/tag/{{tag.1|escape}}">{{tag.0|escape}}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      {% endif %}
    </p>
  {{post.rendered}}
  <p class="postmeta">
    <span class="date">{{post.published|date:config.date_format}}</span>
  </p>
  {% if prev %}
    <a id="prev" href="{{config.url_prefix}}{{prev.path}}">Previous Post</a>
  {% endif %}
  {% if next %}
    <a id="next" href="{{config.url_prefix}}{{next.path}}">Next Post</a>
  {% endif %}
  
  {% if config.disqus_forum %}
    <h3 id="comments">Comments</h3>
    <div id="disqus_thread"></div>
    {% if devel %}
      <script type="text/javascript">
        disqus_developer = 1;
      </script>
    {% endif %}
    <script type="text/javascript" src="http://disqus.com/forums/{{config.disqus_forum}}/embed.js"></script>
    <noscript><a href="http://disqus.com/forums/{{config.disqus_forum}}/?url=ref">View the discussion thread.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}
    
  {% if config.google_friends_id and config.google_friends_comments %}
    <!-- Define the div tag where the gadget will be inserted. -->
    <div id="div-2753931352309273209" style=""></div>
    <!-- Render the gadget into a div. -->
    <script type="text/javascript">
      var skin = {};
      skin['BORDER_COLOR'] = '#cccccc';
      skin['ENDCAP_BG_COLOR'] = '#fff';
      skin['ENDCAP_TEXT_COLOR'] = '#444';
      skin['ENDCAP_LINK_COLOR'] = '#0000cc';
      skin['ALTERNATE_BG_COLOR'] = '#ffffff';
      skin['CONTENT_BG_COLOR'] = '#ffffff';
      skin['CONTENT_LINK_COLOR'] = '#000';
      skin['CONTENT_TEXT_COLOR'] = '#666';
      skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
      skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
      skin['CONTENT_HEADLINE_COLOR'] = '#666';
      skin['DEFAULT_COMMENT_TEXT'] = '- add your comment here -';
      skin['HEADER_TEXT'] = 'Comments';
      skin['POSTS_PER_PAGE'] = '5';
      google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
      google.friendconnect.container.renderWallGadget(
      { id: 'div-2753931352309273209',
      site: '{{ config.google_friends_id }}',
      'view-params':{"disableMinMax":"true","scope":"SITE","features":"video,comment","startMaximized":"true"}
      }, skin);
    </script>
  {% endif %}


{% endblock %}
